@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
:root {
  --Very_dark_desaturated_blue: hsl(238, 29%, 16%);
  --Soft_red: hsl(14, 88%, 65%);
  --Soft_violet: hsl(273, 75%, 66%);
  --Soft_blue: hsl(240, 73%, 65%);
  --Very_dark_grayish_blue: hsl(237, 12%, 33%);
  --Dark_grayish_blue: hsl(240, 6%, 50%);
  --Light_grayish_blue: hsl(240, 5%, 91%);
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Kumbh Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 2rem;
  background: linear-gradient(to bottom, var(--Soft_violet) 20%, var(--Soft_blue) 100%);
}
main .conteiner-card {
  position: relative;
  min-width: 30rem;
  width: 100%;
}
main .conteiner-card .card {
  box-shadow: 0px 2.2rem 2.2rem rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 2rem;
  padding-bottom: 3.5rem;
  background: hsl(0, 0%, 100%);
  transition: 0.5s ease-in-out;
}
main .conteiner-card .card .img-illustration-box-desktop {
  display: none;
}
main .conteiner-card .card .conteiner-img {
  position: relative;
  width: 100%;
  height: 14rem;
}
main .conteiner-card .card .conteiner-img .box-imgs-movile {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -11rem);
}
main .conteiner-card .card .conteiner-img .box-imgs-movile .bg-pattern {
  width: 25rem;
  transform: translateY(-8rem);
}
main .conteiner-card .card .conteiner-img .box-imgs-laptop {
  display: none;
}
main .conteiner-card .card .conteiner-accordion {
  padding: 0 2.5rem;
  transition: 0.5s ease-in-out;
}
main .conteiner-card .card .conteiner-accordion .titulo {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
  color: var(--Very_dark_desaturated_blue);
}
main .conteiner-card .card .conteiner-accordion .accordion {
  position: relative;
  width: 100%;
  text-align: left;
  border-bottom: 1px solid var(--Light_grayish_blue);
  margin-bottom: 1.2rem;
}
main .conteiner-card .card .conteiner-accordion .accordion .subTitulo {
  cursor: pointer;
  transition: 0.5s ease-in-out;
  min-width: 23.5rem;
  color: var(--Very_dark_grayish_blue);
  position: relative;
  font-size: 1.31rem;
  font-weight: 400;
  padding-bottom: 1.4rem;
}
main .conteiner-card .card .conteiner-accordion .accordion .subTitulo .arrow {
  position: absolute;
  margin-left: 0.5rem;
  top: 15%;
  right: 0;
  transition: 0.3s ease-out;
  width: 1.1rem;
  height: 0.8rem;
}
main .conteiner-card .card .conteiner-accordion .accordion .subTitulo .arrowRotary {
  transform: rotate(180deg);
}
main .conteiner-card .card .conteiner-accordion .accordion .tituloColor {
  color: var(--Very_dark_desaturated_blue);
  font-weight: 700;
}
main .conteiner-card .card .conteiner-accordion .accordion .parrafo {
  max-width: 40rem;
  display: none;
  padding-bottom: 1.2rem;
  font-size: 1.21rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: var(--Dark_grayish_blue);
}
main .conteiner-card .card .conteiner-accordion .accordion .parrafoMostrar {
  display: block;
}

@media (max-width: 1440px) and (max-height: 730px) {
  main {
    display: block;
  }
  main .conteiner-card {
    padding: 0 1rem;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 25%);
  }
  main .conteiner-card .card .conteiner-accordion {
    padding: 1.5rem;
  }
}
@media (min-width: 426px) {
  main .conteiner-card .card {
    width: 100%;
  }
  main .conteiner-card .card .conteiner-img .box-imgs-movile .bg-pattern {
    width: 30rem;
    transform: translate(0, -10rem);
  }
  main .conteiner-card .card .conteiner-accordion {
    padding: 0 3rem;
  }
  main .conteiner-card .card .conteiner-accordion .titulo {
    margin-top: 6rem;
  }
  main .conteiner-card .card .conteiner-accordion .accordion .subTitulo {
    font-size: 1.51rem;
  }
  main .conteiner-card .card .conteiner-accordion .accordion .parrafo {
    font-size: 1.34rem;
  }
}
@media (min-width: 768px) {
  main .conteiner-card {
    width: 73rem;
  }
  main .conteiner-card::before {
    top: 0;
    transform: translate(-6.3rem, 20rem);
    z-index: 2;
    content: "";
    position: absolute;
    width: 13rem;
    height: 11.5rem;
    background-image: url(../images/illustration-box-desktop.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12rem;
  }
  main .conteiner-card .card {
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding-bottom: 0;
  }
  main .conteiner-card .card .conteiner-img {
    width: 50%;
    height: auto;
  }
  main .conteiner-card .card .conteiner-img .box-imgs-movile {
    display: none;
  }
  main .conteiner-card .card .conteiner-img .box-imgs-laptop {
    position: relative;
    top: 3rem;
    display: unset;
  }
  main .conteiner-card .card .conteiner-img .box-imgs-laptop .img-illustration-woman {
    z-index: 1;
    position: absolute;
    width: 36rem;
    transform: translate(-6rem, 5rem);
  }
  main .conteiner-card .card .conteiner-img .box-imgs-laptop .bg-pattern {
    position: absolute;
    transform: translate(-36.6rem, -20rem);
    width: 67rem;
    height: 69rem;
  }
  main .conteiner-card .card .conteiner-accordion {
    padding-left: 0;
    padding-right: 6rem;
    width: 50%;
    padding-bottom: 4rem;
  }
  main .conteiner-card .card .conteiner-accordion .titulo {
    text-align: left;
  }
  main .conteiner-card .card .conteiner-accordion .accordion {
    max-width: 38rem;
  }
  main .conteiner-card .card .conteiner-accordion .accordion .subTitulo {
    cursor: pointer;
  }
  main .conteiner-card .card .conteiner-accordion .accordion .subTitulo:hover {
    color: var(--Soft_red);
  }
}
@media (min-width: 1025px) {
  main .conteiner-card {
    min-width: unset;
    max-width: unset;
    width: unset;
    width: 85rem;
  }
  main .conteiner-card::before {
    top: 0;
    transform: translate(-7.3rem, 20rem);
    z-index: 2;
    content: "";
    position: absolute;
    width: 15rem;
    height: 15rem;
    background-image: url(../images/illustration-box-desktop.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15rem;
  }
  main .conteiner-card .card .conteiner-img {
    width: 50%;
    height: auto;
  }
  main .conteiner-card .card .conteiner-img .box-imgs-laptop {
    display: block;
  }
  main .conteiner-card .card .conteiner-img .box-imgs-laptop .img-illustration-woman {
    width: 42rem;
    transform: translate(-7.3rem, 3.5rem);
  }
  main .conteiner-card .card .conteiner-img .box-imgs-laptop .bg-pattern {
    transform: translate(-35rem, -20rem);
    width: 70rem;
    height: 71.8rem;
  }
  main .conteiner-card .card .conteiner-accordion {
    padding-right: 8rem;
    padding-bottom: 4rem;
  }
  main .conteiner-card .card .conteiner-accordion .titulo {
    margin-top: 4.6rem;
  }
  main .conteiner-card .card .conteiner-accordion .accordion {
    margin-bottom: 1.5rem;
  }
  main .conteiner-card .card .conteiner-accordion .accordion .subTitulo {
    padding-bottom: 1.6rem;
  }
}/*# sourceMappingURL=style.css.map */